@font-face{
src: url('../fonts 2/CarbonBlock.ttf');
font-family:"CarbonBlock";




}
@font-face{
src: url('../fonts 2/Lemon-Regular.ttf');
font-family:"Lemon-Regular";



}
@font-face{
src: url('../fonts 2/Faustina-Italic.ttf');
font-family:"Faustina-Italic";



}
.box_body{
display:flex;
column-gap: 20px;



}
.box_head{
font-family:"CarbonBlock";
font-size: 3.2rem;
color: #423f3f;
font-weight: 300;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
margin-top: 4rem;

}
.box{
 border: 1px solid black;   
height: 30rem;
width: 26rem;
background-color: #242c2f;
position: relative;



}

.box_img>img{
height:18rem;
width: 26rem;




}

.box_text{  
font-family:"Lemon-Regular";

 text-transform: uppercase;   
color: white;
text-align: center;
font-size: 1.6rem;
font-weight: 700;

}
.box_para{
font-family:"Faustina-Italic";
color: white;
font-size: 1.2rem;
text-align: center;



}
.box_read_btn{
height: 2.8rem;
width: 9.6rem;
font-size: 1rem;
padding: 5px;
text-transform: uppercase;
background-color:#242c2f;
color:white;
border: 1px solid white;
border-radius: 5px;
position: absolute;
left: 8rem;

}

.box_read_btn:hover{
 background-color:#f01c1c;   
}
.box_btn{
margin-top:10rem;
height: 3.8rem;
width: 3.8rem;
background-color: #242c2f;
color: white;
border: none;
border-radius: 3px;




}
.box_btn:hover{

 background-color:#f01c1c;

}
  @media all and (max-width:1280px){
.box{
height: 22rem;
width: 17rem;
position: relative;



}
.box_img>img{
height:12rem ;
width: 17rem;

}
.box_text{
font-size: 1rem;



}
.box_para{
font-size: 1rem;


}
.box_read_btn{
height: 2.6rem;
width: 8.4rem;
position: absolute;
left: 4rem;


}




}  
@media all and (max-width:440px) {
    .box_head{
margin-top:18rem;        
font-size:7.2rem;



    }
.box_body{
display: flex;
flex-direction: column;
row-gap: 60px;
align-items: center;




}
.box{
    border: 1px solid black;
height: 65rem;
width: 46rem;
background-color: #242c2f;
position: relative;




}
.box_img>img{

height:38rem;
width:46rem ;



}
.box_text{
font-size: 3rem;



}
.box_para{
font-size: 2.3rem;



}
.box_read_btn{
font-size: 1.8rem;    
height: 7rem;
width: 16rem;
position:relative;
top: 2rem;
left: 15.5rem;
border-radius: 5px;




}
.box_btn{

border: none;
background-color:white;


}
.arrow_btn{

color: white;

}
}
