@font-face{
src: url('../fonts 2/Faustina-Medium.ttf');
font-family:"Faustina-Medium";



}
.contact_form{
display: flex;
flex-direction: column;
align-items: center;
gap: 1.2rem;




}
.contact_head{
    font-family:"Faustina-Medium";
font-size: 3rem;
color: #2e2e2d;
font-weight: 900;
text-transform: uppercase;
text-align: center;
margin: 40px;


}
input[type="text"]{
height: 3rem;
width: 50rem;
font-size: 18px;
color: #2e2e2d;
background-color: rgb(239, 239, 239);
font-weight: 500;
padding-left: 15px;
border-radius: 30px;
border: none;





}
input[type="text"]:focus{
    outline: none;




}

input[type="email"]{
 height: 3rem;
width: 50rem;
font-size: 18px;
color: #2e2e2d;
background-color: rgb(239, 239, 239);;
font-weight: 500;
padding-left: 15px;
border-radius: 30px;
border: none;

}
input[type="email"]:focus{
    outline: none;




}
input[type="tel"]{
 height: 3rem;
width: 50rem;
font-size:18px;
color: #2e2e2d;
background-color: rgb(239, 239, 239);;
font-weight: 500;
padding-left: 15px;
border-radius: 30px;
border: none;


}
input[type="tel"]:focus{
    outline: none;




}
.message{ 
height: 2rem;
width:48rem ;
padding: 40px;
font-size: 1.4rem;
color: #2e2e2d;
font-weight:100;
background-color: rgb(239, 239, 239);
padding-left: 15px;
border-radius: 2.6rem;
border: none;


}
.message:focus{
    outline: none;



}
button{
height: 3rem;
width: 10rem;
font-size: 1.3rem;
color: white;
background-color: #f01c1c;
border-radius: 40px;
border: none;
}
.contact-map{
margin-top: 5.6rem;



}
.address-container{
position: relative;
height: 20rem;
width: 100%;
background-color: black;



}
.address-main{
padding-top: 4rem;
display: flex;
justify-content: center;
column-gap: 5px;



}
.box-logo{
   
height: 2.8rem;
width: 2.8rem;
background-color: white;
border-radius: 2.8rem;


}
.ad_logo{
position: relative;    
top: 0.4rem;
left: 0.4rem;


}
.ad_logo:hover{
color: #f01c1c;    



}
.address_sub{
 margin-top: 3rem;   
display: flex;
justify-content: center;
column-gap: 25px;



}
.tel{
font-size: 18px;
color: white;  



}

.tel_logo{
margin-right: 5px;   





}

.email{
    font-family:"Faustina-Medium";
    font-size:19px;
color: white;



}
.email_logo{
margin-right: 5px;



}



.tel:hover{
color: #f01c1c;
transition: 2s;


}
.email:hover{
 color: #f01c1c;
transition: 2s;  
}
.add_arrow{
height: 2rem;
width: 2rem;
background-color: #f01c1c;


}
.add_box{
height: 3.9rem;
width: 36rem;
background-color: #f01c1c;
position: relative;
top: 3rem;
left: 41rem;

}
.mail{
height:2.1rem;
width:28rem ;
 font-size: 1.4rem;
    font-family:"Faustina-Medium";
padding: 14px;

}
.mail:focus{
outline: none;    

}
.add_arrow{
    padding-left: 22px;
padding-bottom: 14px;    
color: white;


}
.address_end{
margin-top: 4.8rem;
height:3.8rem;
width:100%;
background-color: #f01c1c;



}
.add_text{
  font-family:"Faustina-Medium";   
padding-top: 1.2rem;
font-size:18px;
color: white;
text-align: center;

}
@media all and (max-width:1280px){
  

.add_box{


   position: relative;
  left: 22rem;
}
.add_text{

font-size: 1.2rem;
font-weight: 200;

}
}
@media all and (max-width:440px){
.contact_head{
font-size: 5rem;
margin-bottom: 5rem;

}
input[type="text"]
{
height: 7rem;
width: 54rem;    
font-size: 2.8rem;
border-radius: 100px;
padding-left: 35px;
margin-bottom: 0.8rem;
  
}
input[type="email"]{


height: 7rem;
width: 54rem;    
font-size: 2.8rem;
border-radius: 100px;
padding-left: 35px;
margin-bottom: 0.8rem;


}

input[type="tel"]{


height: 7rem;
width: 54rem;    
font-size: 2.8rem;
border-radius: 100px;
padding-left: 35px;
margin-bottom: 0.8rem;

}
.message{
height:8rem ;
width:50rem ;
font-size: 3.6rem;
padding-top: 5rem;
padding-left: 3rem;
border-radius:5.6rem;
margin-bottom:0.8rem ;


}
button{
height: 7rem;
width: 25rem;
font-size: 3.4rem;
border-radius: 8rem;

}
.contact-map{
height: 50rem;
width: 100%;



}
.address-container{
height: 50rem;
width: 100%;

}
.box-logo{
height: 9rem;
width: 9rem;
border-radius: 9rem;
margin-bottom: 2rem;

}
.ad_logo{
height: 4.6rem;
width: 4.6rem;
padding-top: 1.6rem;
padding-left: 1.6rem;

}
.tel{
font-size: 2.8rem;
}

.tel_logo{

height: 2.6rem;
width: 2.6rem;

}
.email{
font-size:2.8rem ;

}
.email_logo{

height: 2.6rem;
width: 2.6rem;

}
.address_sub{
    display: flex;
    column-gap: 40px;
    margin-bottom:4rem;
}
.add_box{

height: 9rem;
width: 50rem;
position: relative;
left: 6rem;
margin-bottom: 10rem;



}
.mail{
height: 6.8rem;
width:36rem;
font-size: 3.8rem;
padding-left: 2rem;

}
.add_arrow{

height: 4rem;
width: 4rem;
padding-left: 2.7rem;
padding-bottom: 2.8rem;


}
.address_end{

height: 12rem;
width: 100%;

}
.add_text{
padding-top: 1.8rem;    

font-size: 2.8rem;

}




}












