@font-face{
src: url('../contact-form-main/assets/fonts/static/Karla-Regular.ttf');
font-family:"Karla-Regular";


}
body{
font-family:"Karla-Regular";
background-color:#cff3ebea;

}
.regform{
background-color: white;
width: 31rem;
padding: 20px;
margin: 5rem 24rem;
box-shadow: 10px 10px -10px -10px whitesmoke;

}
.main_fm{
display: flex;
column-gap: 30px;
}
input[type="text"]{
height: 30px;
width: 208px;
border-radius: 5px;
font-size: 1rem;
padding-left: 20px;
margin-top: 8px;
margin-bottom: 12px;
border: 1px solid black;
/* border: none; */
}
input[type="text"]:focus{
border: 1px solid rgb(59, 155, 96);
outline:1px solid rgb(59, 155, 96);


}
input[type="email"]{
height: 30px;
width: 29.5rem;
border-radius: 5px;
font-size: 1rem;
padding-left: 20px;
margin-top: 8px;
margin-bottom: 12px;
border: 1px solid black;
}
input[type="email"]:focus{
border: 1px solid rgb(59, 155, 96);
outline:1px solid rgb(59, 155, 96);
}
.sub_form{
display: flex;
column-gap: 30px;
}

.radiobox{
height: 24px;
width: 200px;
border: 1px solid black;
padding: 8px 15px;
border-radius: 4px;
margin-top: 8px;
margin-bottom: 12px;
}
.radiobox:hover{
background-color: #c9f3e9ea;

}
input[type="radio"]{

accent-color:rgb(59, 155, 96);

}

textarea{
height: 50px;
width: 30.5rem;    
border-radius: 6px;
padding-top: 25px;
font-size: 1.1rem;
margin-top:8px ;
margin-bottom: 12px;
}
textarea:focus{
border: 1px solid rgb(59, 155, 96);
outline:1px solid rgb(59, 155, 96);
}
input[type="checkbox"]{
accent-color:rgb(59, 155, 96);
margin-top: 8px;
margin-bottom: 20px;
}
button{
height: 40px;
width: 100%;
font-size: 1rem;
border-radius: 6px;
border: none;
background-color:rgb(59, 155, 96) ;
color: rgb(255, 255, 255);
}
.error
{
font-size: 14px;
color: red;
position: relative;
bottom: 10px;


}