/* body { 
    background-color: black;
    margin: 20px;
    position: relative;
     top: 10px; 

}*/

@font-face {
    src: url('../fonts/Prototype.ttf');
    font-family: "Prototype";



}





table {

    width:100%;
   





}

tbody {
     position: relative; 
     left: 12.10px;  


}

.vicky {
    color: rgb(69, 207, 69);
    margin: 20px;
    position: absolute;
    left: -15px;
    top: -5px;



}

.vickyy {


    color: black;
    position: absolute;
    left: 5px;
    top: 16px;

}


table,
th,
tr,
td {

    border-collapse: collapse;







}

td {
    height: 50px;
    text-align: center;
    vertical-align: center;



}

td,
img {
    position: relative;
    top: 2px;
    left: -8px;






}

thead {
    font-family: "Prototype";
    

    text-transform:capitalize;
    font-size: 20px;
    height: 58px;
    background-color: #264aaf;
    color: white;
    position: relative;
    top: 1.9px;
    left: 4.10px;  




}

.head {

    position: relative;
    left: -20px;

}

.main {
    position: relative;
    left: 17px;
    top: -8px;



}

.sub {
    position: relative;
    left: -6px;



}

.dot {
    position: relative;
    left: -5.4px;


}












tbody tr:nth-child(odd) {
    background-color: whitesmoke;






}

tbody tr:nth-child(even) {
    background-color: white;

}

.loss {


    background-color: #F44336;
    color: white;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 3px;


    height: 20px;
    width: 20px;


    border-radius: 8px;




}

.win {

    background-color: #4CAF50;
    color: white;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    height: 20px;
    border-radius: 8px;





}
.form{

position: relative;
left: 90px;


}
.pts{
position:relative ;
left: 160px;




}
.agt{
position: relative;
left: 90px;




}
.for{
position: relative;
left: 80px;



}
.net{
position: relative;
left: 60px;


}




